.order{
    display: flex;
    margin-bottom: 60px;
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid white;
    background: #fff;
    width: 600px;
}

.order:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.order-img{
    height: 180px;
    margin: 20px 50px 20px 30px;
}

.order-text{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.order-name{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin: 0;
    padding: 0;
}

.order-data{
    margin: 0;
    padding: 0;
    color: #6f7287;
}

.order-location{
    margin: 0;
    padding: 0;
    color: #6f7287;
}

.order-price{
    margin: 0;
    padding: 0;
    color: #6f7287;
}