.Password{
    position: relative;
    margin-top: -330px;
    margin-left: 400px;
    width: 800px;
}

.passwordChangeInps{
    height: 45px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    outline: none;
}

.passwordQualityIndicatorDiv{
    width: 350px;
    height: 7px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
}

.indicator{
    height: 100%;
}

.changePasswordVisibility{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 27px;
    margin-left: -40px;
    cursor: pointer;
}

.newPassSaveBtn{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 68, 0);
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}

.newPassSaveBtn:hover{
    background-color: rgb(255, 93, 34);
}
