
  .card {
    position: relative;
    width: 280px;
    height: 250px;
    background: no-repeat top;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 20px;
  }
  
  
  .card:hover {
    transform: scale(01);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  }
  
  .eventInfo {
    position: relative;
    display: grid;
    grid-template-areas:
        "empty title title"
        "info onfo action";
    padding: 16px;
    align-items: center;
    align-content: space-around;
  }
  
  .eventInfo * {
    position: relative;
  }
  
  .title {
    grid-area: title;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .additionalInfo {
    grid-area: info;
  }
  
  .additionalInfo p {
    font-size: 10px;
    margin-top: 3px;
    letter-spacing: 0.5px;
    white-space: nowrap;
  
  }
  
  .price {
    position: absolute;
    top: 0;
    left: 25px;
    width: 59px;
    height: 52px;
    background-color: #fff;
    color: #dd5e89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    font-size: 9.5px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .price:hover {
    transform: scale(01);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  }
  
  .eventInfo::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 105%;
    height: 95%;
    background: linear-gradient(to bottom, #ff80ea 0%, #ffe44e 51%, #dd5e89 100%);
    transform: rotate(-2deg);
    border-top-right-radius: 40px;
  }
  
  .action {
    border: 1px solid;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
    transition: background-color 0.3s, color 0.3s;
    grid-area: action;
  }
  
  .action:hover{
    background-color: #fff;
    color: #dd5e89;
  }

  .fas {
    margin-right: 2px;
  }

.cardImage {
  cursor: pointer;
}


