footer {
    background-color: #1E0A3CFF;
    padding: 20px 0;
}
.footer-size{
    margin:0 auto;
    max-width: 1920px;
}
.footer-container{
    padding: 0px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: blue;
}
.select {
    margin-top:auto;
}
.select select{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}
.select option {
    background: white;
    color: black;
}