@import url("https://cdn.syncfusion.com/ej2/material.css");
.createEvent-form {
    max-width: 530px;
    margin: 0 auto;
}
.createEvent-form h1{
    font-size: 35px;
}
/* info styles */
.createEvent-info{
    max-width: 510px;
}
.createEvent-info label{
    position: relative;
    left: 7px;
    top: 30px;
    font-size: 13px;
}
.createEvent-info input {
    padding: 20px 5px 6px 5px;
    margin-top: 10px;
    width: 100%;
    outline-color:blue;
}
.createEvent-info select{
    padding: 17px 0 17px 5px;
    margin: 35px 0 10px 0;
    width: 33%;
    outline-color:blue;
}
.createEvent-info select:hover{
    border: 1px solid blue;
    /* outline-color: blue; */
}
.createEvent-info select option{
    padding: 10px;
}
.createEvent-GrTextAlignLeft{
    color: #DBDAE3FF;
    position: relative; 
    left: -99px;
    font-size: 65px;
    top: 108px;
}
.createEvent-textarea{
    margin-top: 20px;
    
}
.createEvent-textarea textarea{
    padding: 5px;
    width: 513px;
    height: 103px;
    resize: none;
    font-size: 12px;
    outline-color:blue;
}
.createEvent-textarea-p{
    font-size: 14px;
    margin-bottom: 6px;
}
.createEvent-hr{
    border-top: 1px dotted grey;
    margin-top: 57px;
}

/* location styles */
.createEvent-err{
    color: red;
    margin-bottom: 0;
    font-size: 16px;
}
.createEvent-location{
    max-width: 510px;
}
.createEvent-location p{
    margin-bottom: 50px;
}
.createEvent-location button{
    padding: 16px 25px;
    background-color: white;
    margin-right: 20px;
    border:1px solid grey;
    margin-bottom: 20px;
    outline-color:blue;
}
.createEvent-location input {
    padding: 15px 0px 13px 15px;
    margin-top: 10px;
    width: 94%;
    outline-color:blue;
}

.createEvent-RiTreasureMapLine{
    color: #DBDAE3FF;
    position: relative;
    left: -99px;
    font-size: 73px;
    top: 110px;
}


/* date styles */
.createEvent-date{
    max-width: 510px;
    margin-bottom: 60px;
}
.createEvent-ImCalendar{
    position: relative;
    left: -99px;
    font-size: 65px;
    top: 110px;
    color: #DBDAE3FF;
}
.createEvent-date p{
    margin-bottom: 50px;
}
/* datetime component styles */
.createEvent-dateTimeStart,.createEvent-dateTimeEnd{
    display: flex;
    margin-bottom: 40px;
}
.createEvent-eventStart,.createEvent-eventEnd{
    width: 290px;
    margin-right: 100px;
}
.createEvent-timeStart,.createEvent-timeEnd{
    width: 260px;
    margin-right: 0;
}
/* timezone */
.createEvent-timezone-wrapper{
    width: 527px;
    margin-top:10px;
}

/* price */
.createEvent-price{
    max-width: 510px;
    margin-bottom: 120px;
}
.createEvent-priceInput{
    outline-color: blue;
}
.createEvent-price p{
    margin-bottom: 50px;
}
.createEvent-FaDollarSign{
    color: #DBDAE3FF;
    font-size: 65px;
    position: relative;
    left: -94px;
    top: 108px;
}
.createEvent-priceInput{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.createEvent-price button{
    padding: 16px 45px;
    background-color: white;
    margin-right: 20px;
    border:1px solid grey;
    margin-bottom: 30px;
}

.createEvent-formBtns{
    position: relative;
    left: 190px;
    margin-bottom: 30px;
}
.createEvent-btnDiscard{
    padding: 16px 45px;
    background-color: white;
    margin-right: 20px;
    border:1px solid grey;
    
}
.createEvent-btnSave{
    outline: none;
    padding: 16px 45px;
    background-color: #D1410CFF;
    border:1px solid #D1410CFF;
    color: white;
}

